mixin left-side()
	+b.left-side.size-desk&attributes(attributes)
		nav.left-nav
			ul
				li.sub-list
					span Брабус
					ul
						li
							a(href="#") Брабус 1
						li
							a(href="#") Брабус 2
				li.sub-list
					span AM
					ul
						li
							a(href="#") AM 1
						li
							a(href="#") AM 2
				li.sub-list
					span Запчасти
					ul
						li
							a(href="#") Оптика 
						li
							a(href="#") Бампер
						li
							a(href="#") Кузов
						li
							a(href="") Салон
				li
					a(href="#") Б/У
		.left-news
			h2 Новинки
			.left-news-list
				each val in [,,,]
					div.list-item
						img(src="img/ico-new.png", alt="ico").ico-new
						.owl-carousel.owl-theme.owl-news
							img(src="img/new.jpg", alt="ico").thumb
							img(src="img/new.jpg", alt="ico").thumb
							img(src="img/new.jpg", alt="ico").thumb
						a(href="#").button Смотреть
		.left-contacts
			p.social-title Мы в соц сетях
			a(href="#").instagram
				img(src="img/ico-insta.png", alt="ico")
				span Instagram
			p.bottom-contacts_small-text Подпишитесь на наши новости
			button.bottom-contacts_subscribe Подписаться
			p.social-title Контактная информация
			ul.bottom-contacts_list
				li
					a(href="tel:+79119282375")
						img(src="img/ico-tel.png", alt="ico")
						|  8 911 92 82 375
				li
					img(src="img/ico-time.png", alt="ico")
					span ПН-ВС с 9:00-21:00
				li
					a(href="mailto:")
						img(src="img/ico-mail.png", alt="ico")
						|  tes@test.mail.ru

		block
