.left-side
	display flex
	flex-direction column
	position relative
	z-index 2
	width 550px
	flex-basis 550px
	background-color $black
	padding-top 75px
	padding-bottom 45px
	box-shadow 0 0 18px rgba(255, 255, 255, 0.2)
	+below(1599px)
		width 34%
		flex-basis 34%
		padding-top 5vw

.left-nav
	>ul
		>li
			a
			span
				padding-left 5vw
				padding-right 5vw
			&:last-child
				a
				span
					border-bottom 0
	li
		display block

		fz-md()
		color $white
	a
	span
		display block
		padding 25px 0
		text-decoration none
		font-weight: 500;
		fz-md()
		color $white
		border-bottom 1px solid $grey
		cursor pointer
		&:hover
			background-color $red
	.sub-list
		>a
		>span
			position relative
			&:after
				content ''
				position absolute
				right 5vw
				top 50%
				width 11px
				height 18px
				background-image url(../../img/small-arrow.png)
				background-size 100%
				transform translateY(-50%)
				transform-origin center
				transition .25s
			&.active
				&:after
					transform: rotate(90deg) translateX(-10px);
		ul
			display none
			a
			span
				padding-left 7.5vw

.left-news
	margin-top 50%
	padding 0 5vw
	+below(1199px)
		padding 0 15px

.left-news-list
	&.has-art
		.list-item
			padding-top 45px
			+below(450px)
				padding-top 20px
	.list-item
		background-color $white
		padding 10px 10px 30px
		position relative
		margin-bottom 30px
		&:last-child
			margin-bottom 0
		+below(450px)
			padding-bottom 10px
	.ico-new
		position absolute
		top -12px
		left 0
		z-index 2
		+below(450px)
			width 48px
	.thumb
		width 100%
	.button
		display block
		text-align center
		padding 12px 25px
		border 3px solid $red-lt
		background-color $white
		color $red-lt
		text-decoration none
		fz-md()
		margin 0 auto
		margin-top 30px
		max-width 320px
		width 100%
		&:hover
			background-color $red-lt
			color $white
	.code
		fz-md()
		float right
		color $choco-dk
	.title
		fz-lg()
		font-weight 500
		text-transform uppercase
		color $grey
	.info
		fz-md()
		color $grey
		font-weight 300
		margin-bottom 10px
	.price
		fz-md()
		font-weight 500
		margin-top 20px
		margin-bottom 20px
		color $grey
		span
			&:nth-child(2)
				color $red-lter
	.buttons
		display flex
		justify-content space-between
		.cart
		.link
			text-decoration none
			width 49%
			flex-basis 49%
			color $white
			text-transform uppercase
			text-align center
			fz-lg()
			border 2px solid transparent
			padding 5px
		.cart
			background-color $red-lter
			&:hover
				background-color $white
				border-color $red-lter
				color $red-lter
		.link
			background-color $grey-lt
			&:hover
				background-color $white
				border-color $grey-lt
				color $grey-lt

.owl-news
	position relative
	&:hover
		.owl-nav
			opacity 1
	.owl-nav
		opacity 0
		position absolute
		top 35%
		width 100%
		height 0
		transform translateY(-50%)
		transition .25s
	.owl-prev
	.owl-next
		background-color #000
		width 22px
		height 40px
	.owl-prev
		float left
	.owl-next
		float right
.left-contacts
	padding 0 7.5vw
	margin-top auto
	+below(1199px)
		padding 0 15px
	.social-title
		fz-md()
		color $white
		text-transform uppercase
		margin-bottom 15px
		font-weight 500
	.instagram
		margin-bottom 10px
		display block
		opacity 0.5
		fz-xs()
		color $white
		text-decoration none
		&:hover
			opacity 1
		img
			vertical-align middle
			margin-right 10px

.bottom-contacts_small-text
	color $white
	fz-sm()

.bottom-contacts_subscribe
	fz-sm()
	display block
	color $white
	margin-top 25px
	margin-bottom 65px
	max-width 300px
	width 100%
	text-align center
	padding 8px
	border 1px solid $white
	border-radius 18px
	background-color transparent
	&:hover
		background-color $white
		color $black

.bottom-contacts_list
	margin-top 55px
	li
		margin-bottom 15px
		img
			width 35px
			vertical-align middle
			margin-right 15px
		a
		span
			color $white
			text-decoration none
			fz-sm()
