$black = #000;
$white = #fff;
$brown = #9d7658;
$brown-lt = #cdbda3;
$brown-dk = #5b3f2a;
$choco-dk = #3f0104;
$grey = #272727;
$grey-lt = #7b7b7b;
$grey-text = #6c6c6c;
$red = #a00808;
$red-lt = #a70909;
$red-lter = #ca0a0a;
$red-dk = #700505;
$orange = #dd781e;


fz-xs() {
  font-size 16px

  @media screen and (max-width: 767px) {
    font-size 14px
  }
}

fz-sm() {
  font-size 18px

  @media screen and (max-width: 767px) {
    font-size 15px
  }
}

fz-md() {
  font-size 20px

  @media screen and (max-width: 1300px) {
    font-size 16px
  }
}

fz-lg() {
  font-size 24px

  @media screen and (max-width: 1300px) {
    font-size 18px
  }
}

fz-big() {
  font-size 60px

  @media screen and (max-width: 1300px) {
    font-size 36px
  }

  @media screen and (max-width: 767px) {
    font-size 24px
  }
}

fz-hg() {
  font-size 80px
  line-height 110px

  @media screen and (max-width: 1300px) {
    font-size 40px
    line-height 75px
  }

  @media screen and (max-width: 1024px) {
    font-size 30px
    line-height 60px
  }
}
