include /blocks/header/header
include /blocks/left-side/left-side
include /blocks/right-side/right-side
include /blocks/footer/footer

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Home';

block content
	+header
	main.flex.flex-main
		+left-side
		+right-side
	+footer
