mixin right-side()
	+b.right-side&attributes(attributes)
		.top-baner(style="background-image: url(img/mers.jpg)").size-desk
			h1
				span Запчасти и Акссесуары
				br
				span для Мерседес G463
			ul.top-baner_list
				li Отправка в день обращения
				li Оригинальные запчасти от производителя
				li Гарантия N лет 
				li Лучшие цены на рынке
			a(href="#").top-baner_button Консультация
		.m-nav-home(style="background-image: url(img/mers.jpg)")
			.mwrap
				h1 Запчасти и Акссесуары <br> для G463
				ul.m-nav-home_list
					li
						a(href="#") Каталог brabus
					li
						a(href="#") Б/У
					li
						a(href="#") Каталог AMG
					li
						a(href="#") Разное
		.m-recomend(style="background-image: url(img/bg-recomend.jpg)")
			.mwrap
				h2.title-triangle Рекомендуем 
				.info-content.white
					p Мы предлагаем Вам большой выбор запчастей для Мерседес В463 Гелендваген: 1992 , 1993, 1994 и др. годов выпуска. Компания «Avtograde» сотрудничает с крупнейшими поставщиками запчастей на Mercedes W463 Gelendewagen (1992 - по настоящее время) , поэтому Вы можете быть уверены в высоком качестве нашей продукции.
		.m-new-list
			.mwrap
				.m-pagination
					nav.pages
						a(href="#").page-numbers.prev &lt;
						span.page-numbers.current 1
						a(href="#").page-numbers 2
						a(href="#").page-numbers.next &gt;
					a(href="#").show-all Показать все
					.filter-btn 
						| Фильтры
						img(src="img/arrow-down.svg", alt="")
			.filter-block(style="display: none;")
				.mwrap
					.filter-list
						div.filter-item
							input(type="radio" id="filter-1" name="cat-filter")
							label(for="filter-1") Кузов
						div.filter-item
							input(type="radio" id="filter-2" name="cat-filter")
							label(for="filter-2") Двигатель
						div.filter-item
							input(type="radio" id="filter-3" name="cat-filter")
							label(for="filter-3") Электрика
						div.filter-item
							input(type="radio" id="filter-4" name="cat-filter")
							label(for="filter-4") Оптика
			.mwrap
				.left-news-list
					each val in [,,,]
						div.list-item
							span.code код 22-33-44
							h3.title Название 
							p.info описание
							.owl-carousel.owl-theme.owl-news
								img(src="img/cat-1.jpg", alt="ico").thumb
								img(src="img/cat-2.jpg", alt="ico").thumb
								img(src="img/cat-3.jpg", alt="ico").thumb
							p.price
								span Цена  
								span 2 150 руб
							.buttons
								button.cart В корзину
								a(href="#").link Подробнее
			.mwrap
				.m-pagination
					nav.pages
						a(href="#").page-numbers.prev &lt;
						span.page-numbers.current 1
						a(href="#").page-numbers 2
						a(href="#").page-numbers.next &gt;
		.m-new-list
			.mwrap
				h2.title-triangle Новинки 
				.left-news-list.has-art
					each val in [,,,]
						div.list-item
							img(src="img/ico-new.png", alt="ico").ico-new
							span.code код 22-33-44
							h3.title Название 
							p.info описание
							.owl-carousel.owl-theme.owl-news
								img(src="img/cat-1.jpg", alt="ico").thumb
								img(src="img/cat-2.jpg", alt="ico").thumb
								img(src="img/cat-3.jpg", alt="ico").thumb
							p.price
								span Цена  
								span 2 150 руб
							.buttons
								button.cart В корзину
								a(href="#").link Подробнее
		.m-nav-home
			.mwrap
				p.h2.ta-c Перейти в раздел каталога
				ul.m-nav-home_list
					li
						a(href="#") Каталог brabus
					li
						a(href="#") Б/У
					li
						a(href="#") Каталог AMG
					li
						a(href="#") Разное
		.home-catalog.size-desk
			h2.title-triangle Каталог
			.home-catalog__main-list.flex
				each val in [1,2,3,4,5,6]
					a.list-item(href="#")
						img(src="img/cat-"+val+".jpg", alt="img")
						p Запчасти
			h2.title-triangle Выгодное предложение
			.home-catalog__sub-list.flex
				each val in [1,2,3]
					div.list-item
						span.code код 22-33-44
						h3.title Название 
						p.info описание
						img(src="img/pro-"+val+".jpg", alt="img")
						a(href="#").link Заказать
		.home-works(style='background-image: url(img/pat.jpg)')
			img(src="img/angle-line.png", alt="img").line
			.wrap
				h2.title-triangle.orange.hwm1 Схема работы с клиентами
				p.sub-title Заказать у нас очень просто
			.white-block.mod
				.wrap.double
					.utp-list.flex
						each val, index in ['Оформаляете заказ',"Мы вам перезваниваем","Отправляем машину","Проверяете продукцию","Оплачиваете","Радуетесь вашей покупке"]
							.list-item
								.img
									img(src="img/utp-"+(index+1)+".png", alt="img")
								p= val
			.white-block
				.wrap.double
					.info-content
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				img(src="img/wide-line.jpg", alt="img").line-bottom
		footer
			.wrap
				nav.footer-nav.size-desk
					.col
						a(href="#").lg-txt Каталог
					.col
						a(href="#").lg-txt Информация для покупателей
						a(href="#").sm-txt Гарантии
						a(href="#").sm-txt Оплата и доставка
				.left-contacts
					p.social-title Контактная информация
					ul.bottom-contacts_list
						li
							a(href="tel:+79119282375")
								img(src="img/ico-tel.png", alt="ico")
								|  8 911 92 82 375
						li
							img(src="img/ico-time.png", alt="ico")
							span ПН-ВС с 9:00-21:00
						li
							a(href="mailto:")
								img(src="img/ico-mail.png", alt="ico")
								|  tes@test.mail.ru
				.footer-bottom
					.col.fl-l
						p.lg-txt Мы принимаем
						.payment
							img(src="img/pay-mc.png", alt="img")
							img(src="img/pay-visa.png", alt="img")
							img(src="img/pay-cash.png", alt="img")
					.col.fl-r.size-desk
						img.logo(src="img/logo.png", alt="img")
					.col.m-col
						p.lg-txt Мы в соц сетях
						.payment
							a(href="#")
								img(src="img/ico-vk.png", alt="img")
							a(href="#")
								img(src="img/ico-fb.png", alt="img")
							a(href="#")
								img(src="img/ico-yt.png", alt="img")
							a(href="#")
								img(src="img/ico-ok.png", alt="img")
				.m-block
					p.bottom-contacts_small-text Подпишитесь на наши новости
					button.bottom-contacts_subscribe Подписаться
				a(href="http://infoinstant.ru" target="_blank").ii-site Сделано : Infoinstant 

		block
