.right-side
	display block
	width calc(100% - 550px)
	flex-basis calc(100% - 550px)
	background-color $black
	+below(1599px)
		width 66%
		flex-basis 66%
	+below(767px)
		width 100%
		flex-basis 100%

.top-baner
	background-size cover
	background-position bottom
	padding-left 60px
	padding-bottom 7.5vw
	padding-top 12.5vw
	+below(1599px)
		padding-top 6.5vw
	+below(1199px)
		padding-left 25px
		padding-top 25px
		page-break-before 25px
		padding-right 10px
	h1
		fz-big()
		color $white
		text-transform uppercase
		span
			padding 10px 0
			padding-left 50px
			display inline-block
			&:first-child
				font-weight 600
				background-color rgba($red-dk, 0.75)
				padding-right 125px
			&:last-child
				font-weight 400
				padding-right 90px
				background-color rgba($brown-dk, 0.75)
.top-baner_list
	margin-top 45px
	margin-bottom 45px
	li
		padding-left 80px
		fz-lg()
		color $white
		margin-bottom 10px
		&:before
			content ''
			display inline-block
			background-image url(../../img/ico-mers.png)
			vertical-align middle
			size 41px
			margin-right 15px

.top-baner_button
	display block
	text-decoration none
	text-align center
	background-color $orange
	color $white
	fz-lg()
	text-transform uppercase
	padding 20px
	max-width 425px
	width 100%
	border-radius 10px
	letter-spacing 6px
	&:hover
		transform:scale(1.025);

.home-catalog
	padding 15px 25px

.home-catalog__main-list
	padding 15px 0
	justify-content space-between
	flex-wrap wrap
	margin-bottom 50px
	.list-item
		width 33%
		flex-basis 33%
		text-decoration none
		margin-bottom 8px
		padding 10px
		background-color $white
		&:hover
			img
				transform: rotateY(360deg);
		&:nth-child(1)
		&:nth-child(5)
			width 41%
			flex-basis 41%
			-ms-flex-preferred-size 40%
		&:nth-child(2)
		&:nth-child(3)
		&:nth-child(4)
		&:nth-child(6)
			width 29%
			flex-basis 29%
			-ms-flex-preferred-size 27%
		img
			max-width 100%
			width 100%
			max-height 322px
			transition .75s
			object-fit: cover;
		p
			fz-md()
			color $black
			margin 20px 0

.home-catalog__sub-list
	padding 15px 0
	justify-content space-between
	flex-wrap wrap
	margin-bottom 50px
	.list-item
		width 33%
		flex-basis 33%
		text-decoration none
		margin-bottom 8px
		padding 20px 10px
		background-color $white
		img
			margin-top 25px
			max-width 100%
			max-height 310px
		.code
			fz-md()
			float right
			color $choco-dk
			+below(1199px)
				float none
		.title
			fz-lg()
			font-weight 500
			text-transform uppercase
			color $grey
		.info
			fz-md()
			color $grey
			font-weight 300
		.link
			fz-lg()
			font-weight 300
			text-decoration none
			color $grey
			display block
			max-width 330px
			width 100%
			padding 15px
			margin 0 auto
			text-align center
			margin-top 50px
			border 1px solid $grey
			&:hover
				color $white
				background-color $grey

.home-works
	position relative
	background-repeat repeat
	.wrap
		padding 15px 25px
		&.double
			padding 15px 50px
			+below(767px)
				padding 15px 25px
	.hwm1
		+below(550px)
			position relative
			max-width 230px
			padding-left 25px
			&:before
				position absolute
				top 15px
				left 0
	.line
		width 100%
		position relative
		top -1.35vw
		+below(767px)
			display none
	.line-bottom
		position absolute
		bottom 0
		width 100%
	.sub-title
		fz-lg()
		text-transform uppercase
		padding-left 50px
		color $brown-lt
		margin-bottom 175px
		+below(767px)
			font-size 0
		+below(550px)
			margin-bottom 65px

.utp-list
	justify-content space-around
	flex-wrap wrap
	margin-top -145px
	margin-bottom 25px
	+below(767px)
		justify-content space-between
	+below(550px)
		margin-top -120px
	.list-item
		padding-top 40px
		&:nth-child(2)
			.img
				img
					top 45%
		&:nth-child(3)
		&:nth-child(4)
			p
				+below(767px)
					color $white
					margin-top 25px
		+below(767px)
			width 50%
			flex-basis 50%
		.img
			position relative
			text-align center
			margin 10px
			box-shadow 0px 0px 0px 10px $white
			border 1px solid $black
			border-radius 50%
			background-color $white
			width 168px
			height 168px
			+below(767px)
				margin 10px auto
			+below(550px)
				width 104px
				height 104px
			img
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				+below(550px)
					width 50%
		p
			max-width 150px
			width 100%
			margin 0 auto
			text-align center
			fz-sm()
			margin-top 5px
			margin-bottom 5px
			font-weight 500
			color $black

.info-content
	fz-sm()
	text-align justify
	color $grey-text
	&.white
		color $white

.white-block
	background-color $white
	&.mod
		+below(767px)
			background-image url(../../img/pat2.jpg)
			background-repeat repeat-x
			background-size auto 76%
footer
	.wrap
		padding 45px 50px 80px
		+below(767px)
			padding 35px 45px 15px
	.left-contacts
		display none
		+below(767px)
			display block
			padding 0
		.bottom-contacts_list
			margin-top 25px
			span
			a
				font-size 19px
	.m-block
		display none
		text-align center
		+below(767px)
			display block
	.bottom-contacts_small-text
		margin-top 20px
	.bottom-contacts_subscribe
		margin: 0 auto;
		margin-top 15px


.footer-nav
	.col
		display inline-block
		vertical-align top
		width 33%
		+below(1199px)
			width 49%
			margin-bottom 12px
	.lg-txt
		display block
		margin-bottom 25px
		fz-lg()
		font-weight 500
		text-transform uppercase
		color $white
		text-decoration none
	.sm-txt
		display block
		margin-bottom 20px
		fz-md()
		color $white
		text-decoration none
		font-weight 300
		&:last-child
			margin-bottom 0

.footer-bottom
	clearfix()
	.col
		width 49%
		display inline-block
		vertical-align top
		+below(767px)
			width 100%
		&.fl-l
			float left
			text-align left
		&.fl-r
			float right
			text-align right
		&.m-col
			display none
			float left
			+below(767px)
				display block
	.lg-txt
		fz-md()
		text-transform uppercase
		margin-bottom 25px
		color $white
		+below(767px)
			text-align center
			font-size 20px
			margin-top 25px
	.payment
		+below(767px)
			text-align center
		img
			max-width 57px
			vertical-align top
			margin-right 10px
			&:last-child
				margin-right 0
		a
			text-decoration none
			margin-right 10px
			&:last-child
				margin-right 0
	.logo
		max-width 261px
		width 100%

.ii-site
	display block
	text-decoration none
	text-align center
	margin-top 15px
	color $grey-text

.m-nav-home
	background-size cover
	background-clip no-clip
	display none
	+below(767px)
		display block
	.mwrap
		background-color rgba(0, 0, 0, 0.5)
	h1
		color $white
		text-transform uppercase
		text-align center
		font-weight 500
		font-size 20px

.m-nav-home_list
	margin-top 20px
	li
		margin-bottom 20px
		&:last-child
			margin-bottom 0
	a
		fz-md()
		text-transform uppercase
		padding 2vw 12px
		border 1px solid $white
		display block
		width 90%
		color $white
		text-align center
		text-decoration none
		margin 0 auto

.m-recomend
	background-size cover
	background-clip no-clip
	display none
	+below(767px)
		display block

.m-new-list
	display none
	+below(767px)
		display block

.m-pagination
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content space-between
	align-items center
	.show-all
		display inline-block
		vertical-align middle
		color $white
		padding 0 2px
		fz-md()
	.pages
		display inline-block
		vertical-align middle
		font-size 0
	.page-numbers
		display inline-block
		vertical-align top
		color $black
		text-decoration none
		fz-md()
		padding 4px 6px
		background-color $white
		margin-right 2px
		&:last-child
			margin-right 0
		&.current
			background-color $grey-lt
		&.next
		&.prev
			padding 4px 2px
			background-color transparent
			color $white
	.filter-btn
		display inline-block
		vertical-align middle
		cursor pointer
		color $white
		fz-md()
		border 1px solid $white
		padding 4px 0
		padding-left 10px
		padding-right 4px
		&.active
			img
				transform rotate(-90deg)
		img
			display inline-block
			margin-left 4px
			width 11px
			transition .25s

.filter-block
	background-color $red-lter
	.mwrap
		padding 0 20px

.filter-list
	display flex
	flex-wrap wrap
	justify-content space-around
	.filter-item
		width 50%
		flex-basis 50%
		padding 22px 0
		input[type="radio"]
			display none
			&:checked
				+label
					&:after
						transform scale(1)
		label
			position relative
			display inline-block
			color $white
			font-size 20px
			font-weight 300
			padding-left 30px
			&:before
				content ''
				position absolute
				left 0
				top 0
				display block
				width 20px
				height 20px
				border 2px solid $white
				border-radius 50%
			&:after
				content ''
				position absolute
				top 7px
				left 7px
				display block
				width 10px
				height 10px
				border-radius 50%
				background-color $white
				transition .25s
				transform scale(0)
