*
	font-family: 'Fira Sans Condensed', sans-serif;
a
span
button
	transition: .25s;

h2
.h2
	fz-hg()
	text-transform uppercase
	font-weight: 700;
	color $grey-text
	&.title-triangle
		&:before
			content ''
			display inline-block
			margin-right 15px
			width 0
			height 0
			border 0 solid transparent
			border-bottom-width 30px
			border-top-width 30px
			border-left 30px solid $red-dk
			+below(1299px)
				margin-right 5px
				border-bottom-width 15px
				border-top-width 15px
				border-left 15px solid $red-dk
			+below(1024px)
				position relative
				top 5px
		&.orange
			color $white
			&:before
				border-left-color #a05e00

.ta-c
	text-align center

.flex
	display -webkit-flex
	display -ms-flex
	display flex

.header
	display block
	position relative
	background $black
	padding 21px 155px
	margin-bottom 5px
	+below(1599px)
		padding 21px 5vw
	+below(1199px)
		padding 10px 15px
	+below(767px)
		margin-bottom 0
	&:after
		content ''
		display block
		position absolute
		top 100%
		left 0
		width 100%
		height 5px
		background-image url(../../img/wide-line.jpg);
		+below(767px)
			display none
	.flex
		justify-content space-between
		align-items center
		flex-wrap wrap
	.left
		text-decoration none
		display inline-block
		+below(1599px)
			max-width 220px
		+below(1199px)
			max-width 125px
		img
			width 100%
	.middle
		margin-left auto
	.navigation
		li
			display inline-block
			&:last-child
				a
					&:after
						display none
		a
			display block
			position relative
			color: $white;
			padding 12px 30px
			text-decoration none
			fz-md()
			font-weight: 400;
			text-transform: uppercase;
			&:after
				content '|'
				position absolute
				right 0
				color $white
				+below(1299px)
					right -4px
			&:hover
				color $brown
			+below(1299px)
				padding 6px
	.right
		margin-left 60px
		+below(1599px)
			margin-left 1.5vw
		img
			width 25px
			vertical-align bottom
			margin-right 12px
			+below(1299px)
				width 17px
				margin-right 6px
	.header-contact
		margin-bottom 15px
		+below(767px)
			margin-bottom 6px
		&:last-child
			margin-bottom 0
		a
			color $white
			fz-lg()
			font-weight: 500;
			text-decoration none
		span
			color $brown
			fz-lg()
			font-weight: 400;
			+below(767px)
				font-size 14px

.m-header-bottom
	display none
	background-color $black
	+below(767px)
		display block

.m-header-bottom_buttons
	display -webkit-flex
	display -ms-flex
	display flex
	>div
		width 50%
		flex-basis 50%
		cursor pointer

.m-header-bottom_cart
	text-align center
	font-size 22px
	color $white
	text-transform uppercase
	padding 11px
	background-color $red

.m-header-bottom_open
	color $white
	font-size 22px
	text-transform uppercase
	background-color $grey
	padding 8px
	padding-left 20px
	img
		width 28px
		margin-right 12px
		vertical-align text-bottom

.m-header-nav
	display none
	text-align center
	a
		display block
		padding 12px 8px
		color $white
		text-decoration none
		fz-md()
	+below(767px)
		display block



.mwrap
	padding 15px 20px

.size-desk
	+below(767px)
		display none !important
