mixin header()
	header.header&attributes(attributes)
		.flex
			a(href="/").left
				img(src="img/logo.png", alt="logo")
			.middle.size-desk
				nav.navigation
					ul
						li
							a(href="#") Главная
						li
							a(href="") Доставка и Оплата
						li
							a(href="") Гарантии
						li
							a(href="") контакты
			.right
				div.header-contact
					a(href="tel:+79119282375")
						img(src="img/ico-tel.png", alt="ico")
						|  8 911 92 82 375
				div.header-contact
					img(src="img/ico-time.png", alt="ico")
					span ПН-ВС с 9:00-21:00
	.m-header-bottom
		.m-header-bottom_buttons
			.m-header-bottom_open
				img(src="img/menu-button.svg", alt="")
				| Меню
			.m-header-bottom_cart Корзина
		nav.m-header-nav(style="display: none;")
			ul
				li
					a(href="#") Главная
				li
					a(href="") Доставка и Оплата
				li
					a(href="") Гарантии
				li
					a(href="") контакты
